*{
    padding: 0;
    margin: 0;
    font-family: Candara, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 95vw;
    margin: auto;
}
header{
    background-color: black;
    height: 25vh;
}
body span{
    display: flex;
    flex-direction: row;
}
article{
    background-color: green;
    height: 70vh;
    width: 70vw;
}
aside{
    background-color: aqua;
    height: 70vh;
    width: 30vw;
}
footer{
    background-color: blueviolet;
    height: 5vh;
}