*{
    padding: 0;
    margin: 0;
    font-family: Candara, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    display: flex;
    flex-direction: column;
    width: 96vw;
    margin: auto;
}
header{
    background-color: black;
    height: 35vh;
    margin-bottom: 4vh;
}
body span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
article{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 65vw;
}
.popular{
    background-color: brown;
    height: 44vh;
}
article span{
    display: flex;
    flex-direction: row;
}
.box1{
    background-color:darkgoldenrod;
    height: 53vh;
    width: 32vw;
}
.box2{
    background-color: darkmagenta;
    height: 53vh;
    width: 31vw;
}
aside{
    background-color: aqua;
    height: 100vh;
    width: 29vw;
}
footer{
    background-color: rgb(236, 55, 124);
    margin-top: 4vh;
    height: 8vh;
    border: 3px solid rgb(0, 0, 0);
    border-radius: 1px;
    display: flex;
    flex-direction: row-reverse;
}
footer img{
    zoom: 8%;
    margin: 25px;
    display: flex;
    margin-right: 35em;
}
